
classes.txt
.vs/pdf2calendar/v15/.suo
Stundenplan_WS 2017-18_ELM 1 ilovepdf.xlsx
Stundenplan_WS 2017-18_ELM 1.pdf
*.xls
*.xlsx
wip-files/pdf2txt.py
wip-files/pdf2xlsx.py
wip-files/xls2csv.py
wip-files/xls2name-PDFTable.py
wip-files/your_csv_file.csv
pdf2calendar.sln
